<!DOCTYPE html>
<html>
<head>
  <title>Instagram |Sign Up</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/styles.css?v=1" rel="stylesheet">
  <script type="module" src="/static/firebase-login.js"></script>
</head>
<body class="centered-page">
  <div class="card text-center">
    <div class="card text-center">
      <h2>Instagram</h2>
      <input id="fullname" class="form-control my-2" placeholder="Profile Name">
      <input id="email" class="form-control my-2" placeholder="Email">
      <input id="password" class="form-control my-2" type="password" placeholder="Password">
      <button class="btn btn-success w-100" id="signup-btn">Sign Up</button>
      <div id="error-box" class="text-danger mt-2"></div>
      <p class="mt-3">Already have an account? <a href="/login">Login</a></p>
    </div>
    
</body>
</html>
